*, :not(img), :not(li) {
    margin:0;
}

html, body {
    height: 100%;
}

body {
	position: fixed;
}

.outterWrapper {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    height: 100%;
}

.innerWrapper {
    display: table-row;
}

.innerWrapper > div {
    display: table-cell;
}

#sidebar {
	width: 40px;
	background-color: red;
	border-right: 1px solid black;
}

#overview {
	width: 400px;
	border-right: 1px solid black;
	background-color: yellow;
}

#village {
	background-color: green;
	position: absolute;
	overflow: scroll;
	height: 100%;
}

#village_overview {
	overflow: scroll;
}

#village_topbar {
	background-color: orange;
	line-height: 1.5em;
	width: 100%;
	position: fixed;
}

#village_footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	line-height: 1.5em;
	background: pink;
}