body {
	background-color: #EEE;
	font-family: 'Calibri';
}

#container {
	background-color: white;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: blue;
	color: white;
	text-align: center;
}

#content {
	padding: 10px;
}

#login {
	width: 500px;
	float: left;
}

#main {
	width: 780px;
	float: right;
}

#footer {
	clear: both;
}